<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout}"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/chat/list.css}">
    <script defer type="text/javascript" th:src="@{/js/chat/list.js}"></script>
</head>
<body>
<section layout:fragment="content">
    <div id="demo">
        <h1>채팅방</h1>
        <form class="form-container" id="chatCreateForm">
            <input name="roomName" class="form-control" type="text">
            <button class="btn btn-primary produce-button" type="submit">생성</button>
        </form>
        <div class="menu-container" th:each="room : ${rooms}">
            <div class="list-wrapper">
                <div class="chat-list" th:text="${room.getRoomName()}">채팅방1</div>
                <div class="button-wrapper">
                    <button class="btn btn-primary" th:value="${room.getIndex()}" rel="joinButton" type="button">입장</button>
                    <button th:if="${#authentication.name == room.getCreator() || #authentication.getPrincipal().getUserEntity().getRole() == 'ADMIN'}" class="btn btn-danger" th:value="${room.getIndex()}" rel="deleteButton" type="button">삭제</button>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>