<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- 부트스트랩 Datepicker CSS 파일 포함 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
          rel="stylesheet">
    <!-- FontAwesome CSS 파일 포함 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- 부트스트랩 및 jQuery JS 파일 포함 -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- 부트스트랩 Datepicker JS 파일 포함 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.ko.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/admin/attendance.css}">
    <script defer type="text/javascript" th:src="@{/js/admin/selectDate.js}"></script>
</head>

<body th:if="${Users.size() > 0}">
<section layout:fragment="content">
    <section class="demo">


        <div class="form-group mb-4">
            <div class="datepicker date input-group p-0 custom-shadow">
                <input type="text" name="date" placeholder="날짜를 선택해주세요." class="form-control py-4 px-4"
                       id="reservationDate">
                <div class="input-group-append"><span class="input-group-text px-4"><i
                        class="fa fa-calendar"></i></span></div>
            </div>
        </div>


        <div class="container">
            <div class="scroll-window-wrapper">
                <div class="scroll-window">
                    <table class="table is-fixed-header">
                        <caption class="a11y-hidden">Table Caption</caption>
                        <thead>
                            <tr>
                                <th scope="col" data-th="Name">이름</th>
                                <th scope="col" data-th="Email">출석 현황</th>
                                <th scope="col" data-th="Status">작업량</th>
                                <th scope="col">
                                    &nbsp;
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user : ${Users}">
                            <td th:text="${user.getName()}"></td>
                            <td th:text="${user.isAttendance() ? '✔' : '❌'}"></td>
                            <td th:text="${user.getCount()}"></td>
                            <td class="has-text-right">
                                <button type="button" class="button is-small is-primary">이미지 보기</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</section>
</body>


</html>