<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script th:if="${Users.size() == 0}">
        alert('게시글이 존재하지 않습니다.');
        history.back();
    </script>
</head>
<body th:if="${Users.size() > 0}">
<section layout:fragment="content">
<table border="1">
    <thead>
    <tr>
        <th>이름</th>
        <th>출석 현황</th>
        <th>작업량</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${Users}">
        <th th:text="${user.getEmail()}"></th>
        <td th:text="${user.isAttendance()}"></td>
        <td th:text="${user.getCount()}"></td>
    </tr>
    </tbody>
</table>
</section>
</body>
</html>