<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/admin/salary.css}">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <script defer type="text/javascript" th:src="@{/js/admin/salary.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.ko.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/admin/salary.css}">
</head>
<body>
<section layout:fragment="content">

    <form id="demo">
        <div class="board-container">
            <div class="container mt-5">
                <div class="spring"></div>
                <div class="selectedDate">
                    <h1 class="date-value" th:text="${option} == 'year' ? ${#strings.substring(selectDate, 0, 4)} + '년' : ${#strings.substring(selectDate, 0, 4)} + '년 ' + ${#strings.substring(selectDate, 5, 7)} + '월'"></h1>
                </div>
                <div class="form-group">
                    <label class="text" for="datepicker">날짜 선택</label>
                    <div class="input-group">
                        <label class="label">
                            <input type="text" class="form-control datepicker" id="datepicker"
                                   placeholder="YYYY/MM">
                            <button class="blue" rel="dateButton">월</button>
                            <button class="blue" rel="dateButton">년</button>
                        </label>
                    </div>
                </div>
                <div class="workType">
                    <p class="text">- &nbsp;비정규직 : 작업일 X 100,000 ₩</p>
                    <p class="text">- &nbsp;정규직 : 작업일 X 150,000 ₩</p>
                </div>
            </div>
        </div>

        <div class="container">
            <input class="hiddenValue" th:value="${selectDate}" type="hidden">
            <table id="table" class="table">
                <caption class="a11y-hidden">Table Caption</caption>
                <thead>
                <tr>
                    <th class="fix" scope="col">이름</th>
                    <th class="fix" scope="col">정규직</th>
                    <th class="fix" scope="col">보험</th>
                    <th class="fix" scope="col">작업일</th>
                    <th class="fix" scope="col">급여</th>
                </tr>
                </thead>
                <tbody>
                <tr class="spacer"></tr> <!-- 간격을 위한 빈 행 -->
                <tr th:each="payment : ${paymentList}">
                    <td th:text="${payment.getUserName()}"></td>
                    <td th:text="${payment.getWorkType() == 'full' ? 'O' : 'X'}"></td>
                    <td th:text="${payment.isInsurance() ? 'O' : 'X'}">보험</td>
                    <td th:text="${payment.getWorkDays()}"></td>
                    <td th:text="${payment.getPayment() + ' ₩'}" rel="payments"></td>
                </tr>
                </tbody>
            </table>
        </div>

    </form>


</section>


</body>
</html>