<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/admin/workList2.css}">
    <script src="https://kit.fontawesome.com/c1106c0e90.js" crossorigin="anonymous"></script>
    <script defer type="text/javascript" th:src="@{/js/admin/workList2.js}"></script>
</head>
<body>
<section layout:fragment="content">

    <form method="post" id="demo">
        <div class="board-container">
            <div class="dateBoard">
                <h2 id="dateValue" th:text="${date}"></h2>
            </div>
            <div class="userBoard">
                <h2 id="userValue" th:text="${user}"></h2>
            </div>
        </div>
        <div class="container">
            <table id="table" class="table">
                <caption class="a11y-hidden">Table Caption</caption>
                <thead>
                <tr>
                    <th class="fix" scope="col" data-th="Name">이미지</th>
                    <th class="fix" scope="col" data-th="Email">피드백</th>
                    <th class="fix" scope="col" data-th="Status">선택</th>
                </tr>
                </thead>
                <tbody>
                <tr class="main-list" th:each="image : ${imageList}">

                    <td>
                        <input th:value="${image.index}" type="hidden" rel="index">
                        <img class="image" th:src="@{/subImage(index=${image.index})}" alt="Image" onclick="openModal(this.src)">
                    </td>
                    <td>
<!--                        <label class="label">-->
                            <textarea th:text="${image.getComment()}" class="comment" rel="comment" placeholder="선택 후 작성 가능합니다." readonly></textarea>
<!--                        </label>-->
                    </td>
                    <td>
                        <input th:checked="${image.isSign()}" class="checkbox" type="checkbox" rel="checkbox">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <label class="button-container">
<!--            <button type="button" rel="backButton">돌아가기</button>-->
<!--            <button type="button" rel="submitButton">제출</button>-->
            <button type="button" id="backBtn" class="blue" rel="backButton">돌아가기</button>
            <button type="button" id="submitBtn" class="blue" rel="submitButton">제출</button>
        </label>

    </form>
    <div id="myModal" class="modal">
        <span class="close" th:onclick="closeModal()">&times;</span>
        <img class="modal-content" id="modalImage">
    </div>
</section>
</body>
</html>