<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scd.dcs.mappers.AdminMapper">

    <select id="selectUserProperty" resultType="UserProperty">

        SELECT `user`.`email`                       AS `email`,
               `user`.`name`                        AS `name`,
               `user`.`nickname`                    AS `nickname`,
               `user`.`tel`                         AS `tel`,
               `user`.`address`                     AS `address`,
               `user`.`role`                        AS `role`,
               `user`.`is_state`                    AS `isState`,
               `user`.`is_insurance`                AS `isInsurance`,
               IF(
                       (SELECT COUNT(*)
                        FROM `dcs`.`attendance`
                        WHERE `attendance`.`user_email` = #{email}
                          AND `attendance`.`check_in` BETWEEN #{firstDate} AND #{secondDate}) > 0,
                       true,
                       false
               )                                    AS `attendance`,
               (SELECT COUNT(*)
                FROM `dcs`.`submit_images` AS `images`
                         LEFT JOIN `dcs`.`work` AS `work` on `work`.`index` = `images`.`work_index`
                WHERE `user_email` = #{email}
                  AND `work`.`work_date` = #{date}) AS `count`
        FROM `dcs`.`user`
                 LEFT JOIN `dcs`.`attendance` AS `a` ON `user`.`email` = `a`.`user_email`
                 LEFT JOIN `dcs`.`work` AS `work` ON `user`.`email` = `work`.`user_email`
        WHERE `work`.`user_email` = #{email}
          AND `work`.`work_date` = #{date}
        LIMIT 1;

    </select>
</mapper>