body {
  background-color: #ffffff;
  color: #212121;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  margin: unset;
  height: 100vh;
}

$header_height: 5.25rem;
$aside-width: 20rem;

#header {
  top: 0;
  left: 0;
  width: 100%;
  height: $header_height;
  box-sizing: border-box;
  background-color: #ffffff;
  border-bottom: 0.1rem solid #d1d1d1;
  padding: 0.625rem 0.8125rem;

  position: fixed;
  z-index: 1;

  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;

  > .spring {
    flex-grow: 1;
  }

  > .logout-button {
    width: 4rem;
    height: 4rem;
    box-sizing: border-box;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    margin-right: 1.5rem;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    gap: 0.25rem;

    > .icon {
      font-size: 2rem;
    }
  }

  > .profile-container {
    width: 12rem;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 0.125rem;

    > .profile-button {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      gap: 0.25rem;

      > .userThumbnail {
        width: 3.25rem;
        height: 3.25rem;
        border-radius: 50%;
        background-color: black;
      }


    }

    > .detailProfile {
      width: 7rem;
      height: 3rem;
      cursor: pointer;
      margin-top: 0.25rem;
      margin-left: 0.5rem;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;

      > .userName {
        width: 6.25rem;
        height: 2rem;
        background-color: black;
      }
      > .image {
        width: 2rem;
        margin-bottom: 0.75rem;
      }
    }

  }
}

#asideFrame {
  background-color: #ffffff;
  top: 0;
  left: 0;
  width: $aside-width;
  height: 100%;
  position: fixed;
  align-items: stretch;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  z-index: 2;

  > .aside {
    background-color: #212121;
    top: 0;
    left: 0;
    width: $aside-width - 2rem;
    height: 85%;
    margin: 1.5rem 1rem;
    border-radius: 1rem;
    position: fixed;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    z-index: 3;

    > .spring {
      flex-grow: 1;
    }

    > .menu-wrapper {
      height: 3.25rem;
      width: 3.25rem;
      border-radius: 50%;
      margin: 2rem 1.5rem;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      display: flex;

      > .icon {
        height: 2rem;
        font-size: 2rem;
        color: #ffffff;
      }
    }
    > .menu-wrapper:hover {
      background-color: #515151;
    }

  }

  > .menu {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 25rem;
    z-index: 3;

    > .item {
      > .link {
        border-radius: 200px;
        width: 10rem;
        height: 2rem;
        box-sizing: border-box;
        color: #dbdbdb;
        font-size: 1.125rem;
        text-decoration: none;
        user-select: none;
        display: flex;
        flex-direction: column;
        padding: 1.5rem 1rem;
        margin-left: 1rem;
        justify-content: center;
      }

      > .link:hover {
        background-color: #d1d1d1;
        color: #212121;
      }
    }
  }
}



