@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

#main {
  height: 100%;
}

#mainSection .title, #mainSection .workDate {
  width: 92%;
  text-align: center;
}
#mainSection > .main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5rem;
}
#mainSection > .main-container > #main-mosaic {
  bottom: 50px;
  margin-top: 7rem;
  background: lightblue;
  width: 600px;
  height: 600px;
  position: relative;
}
#mainSection > .main-container > #main-mosaic > .image-box {
  background: #ececec;
  width: 600px;
  height: 600px;
  position: absolute;
}
#mainSection > .main-container > #main-mosaic > .imageContainer {
  width: 500px;
  height: 500px;
  overflow: hidden;
}
#mainSection > .main-container > #main-mosaic > .imageContainer > .image {
  width: 100%;
  height: 100%;
}
#mainSection > .main-container > #main-mosaic > .imageContainer > .canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transform: translate(50px, 50px);
}
#mainSection > .main-container > #main-mosaic > .button-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  gap: 0.3rem;
  left: 210px;
  bottom: 1px;
}
#mainSection > .main-container > .list-container {
  display: flex;
  flex-direction: column;
}
#mainSection > .main-container > .list-container #photoAddButton {
  border-bottom: 0.0625rem solid #e0e0e0;
  margin-top: 25px;
}
#mainSection > .main-container > .list-container #photoAddButton > .photoAddButtonForm > .item {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#mainSection > .main-container > .list-container #photoAddButton > .photoAddButtonForm > .item > .button {
  background-color: #ffffff;
  border: none;
  color: #424242;
  cursor: pointer;
  padding: 0.375rem 1rem;
}
#mainSection > .main-container > .list-container #photoAddButton > .photoAddButtonForm > .item > .button:hover {
  background-color: #f9f9f9;
  color: #353535;
}
#mainSection > .main-container > .list-container #photoAddButton > .photoAddButtonForm > .item > .button:active {
  background-color: #f2f2f2;
  color: #292929;
}
#mainSection > .main-container > .list-container #photoAddButton > .photoAddButtonForm > .item > .button > .file {
  display: none;
}
#mainSection > .main-container > .list-container #workListAside {
  clear: both;
}
#mainSection > .main-container > .list-container #workListAside > .menuBox {
  overflow: auto;
  background-color: #f9f9f9;
  position: absolute;
}
#mainSection > .main-container > .list-container #workListAside > .menuBox > .menu-list {
  list-style-type: none;
  height: 587px;
}
#mainSection > .main-container > .list-container #workListAside > .menuBox > .menu-list > .item > .image-name {
  width: 50%;
}
.imageCount {
  width: 50%;
}

#completeButton {
  transform: translate(695px);
}

/*# sourceMappingURL=mosaic.css.map */
