<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{./layouts/layout}">>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script defer type="text/javascript" th:src="@{/js/article/comment.js}"></script>
    <style>
        body{
            margin: 0 auto;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            background-color: #eeeeee;
        }
        #login {
            display: none;
        }
        table{
            width: 1000px;
        }
    </style>
</head>

<section layout:fragment="content">
    <h1>글 내용입니다.</h1>
    <table border="1">
        <thead>
        <tr>
            <th scope="row">제목</th>
            <td colspan="5" th:text="${article.getTitle()}"></td>
        </tr>
        <tr>
            <th scope="row">작성자</th>
            <td th:text="${article.getUserEmail()}"></td>
            <th scope="row">작성일시</th>
            <td th:text="${article.getCreatedAt()}"></td>
            <th scope="row">조회수</th>
            <td th:text="${article.getView()}"></td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">내용</th>
            <td colspan="5" th:utext="${article.getContent()}">?</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="6">
                <a th:href="@{/board/list (code=${article.getBoardCode()})}">목록</a>
                <a th:href="@{/article/modify (index=${article.getIndex()})}" th:if="${session.user != null && session.user.getEmail().equals(article.getUserEmail())}">수정</a>
                <a href="#" onclick="deleteArticle()" th:if="${session.user != null && session.user.getEmail().equals(article.getUserEmail())}">삭제</a>
            </td>
        </tr>
        </tfoot>
    </table>
    <br>
    <form id="commentForm">
        <h2>댓글</h2>
        <input name="articleIndex" type="hidden" th:value="${article.getIndex()}">
        <label>
            <span>내용</span>
            <input name="content" type="text">
        </label>
        <input type="submit" value="작성">
    </form>
    <div id="comment-container">
<!--        <div class="comments" rel="comment">-->
<!--            <div>-->
<!--                <span>[1]</span>-->
<!--                <span>작성자 자리</span>-->
<!--                <span>2024-01-01 00:00:00</span>-->
<!--            </div>-->
<!--            <div>내용자리</div>-->
<!--            <div>-->
<!--                <button rel="modify">수정</button>-->
<!--                <button rel="delete">삭제</button>-->
<!--            </div>-->
<!--        </div>-->
    </div>


</section>>


<body>

</body>
</html>