<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{./layouts/layout}">>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script type="text/javascript" th:src="@{/libraries/ckeditor/ckeditor.js}"></script>
    <script defer type="text/javascript" th:src="@{/js/article/index.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/libraries/ckeditor/ckeditor.css}">

</head>
<body>
<section layout:fragment="content" id="mainSection">
    <h1>작성입니다.</h1>

    <form class="form" method="post" action="./write" id="write" >
        <label>
            <span>게시판</span>
            <select name="boardCode">
                <option th:each="board : ${boards}"
                        th:value="${board.getCode()}"
                        th:text="${board.getText()}">
<!--                        th:if="${board.isAdminOnly() == false || (board.isAdminOnly() && session.get('user').isAdmin())}"-->
                </option>
            </select>
        </label>
        <br>
        <label>
            <span>제목</span>
            <input autofocus name="title" type="text">
        </label>
        <br>
        <label>
            <span>내용</span>
            <textarea name="content"></textarea>
        </label>
        <br>
        <input type="reset" value="다시 쓰기">
        <input type="submit" value="글쓰기">
    </form>

</section>>



</body>
</html>