<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>로그인 화면</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/styles/common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/styles/login.css}">
    <script defer type="text/javascript" th:src="@{/js/user/common.js}"></script>
    <script defer type="text/javascript" th:src="@{/js/user/login.js}"></script>
    <script sec:authorize="isAuthenticated()">
        location.href='/main';
    </script>
    <script th:if="${result != null && result.equals('FAILURE')}">
        alert('이메일 혹은 비밀번호가 올바르지 않습니다.');
        history.back();
    </script>
</head>
<body th:if="${result == null}">
<div class="cover" style="display: none"></div>
<section id="loginSection">
    <h1 class="title">로그인</h1>
    <form novalidate class="dialog" id="loginForm" th:with="userRegex=${T(com.scd.dcs.regexes.UserRegex)}">
        <label class="_obj-label label" rel="emailLabel">
            <span class="__text">이메일</span>
            <input required autocomplete="email" class="_obj-input __field input" maxlength="50" minlength="5" name="username" placeholder="이메일 (user@sample.com)" spellcheck="false" type="email" th:attrappend="data-regex=${userRegex.email.expression}">
        </label>
        <label class="_obj-label label" rel="passwordLabel">
            <span class="__text">비밀번호</span>
            <input required autocomplete="current-password" class="_obj-input __field input" maxlength="50" minlength="5" name="password" placeholder="비밀번호 (숫자, 영어 대소문자, 특수기호 5자 이상 50자 이하)" type="password" th:attrappend="data-regex=${userRegex.password.expression}">
        </label>
        <button class="_obj-button" type="submit">
            <i class="__icon"></i>
            <span class="__text">로그인</span>
        </button>
        <ul class="menu">
            <li class="item">
                <span class="text">아직 계정이 없으신가요?</span>
                <a class="link" th:href="@{/user/register}">회원가입 하기</a>
            </li>
            <li class="item">
                <span class="text">이메일을 잊으셨나요?</span>
                <a class="link" th:href="@{/user/findEmail}">이메일 찾기</a>
            </li>
            <li class="item">
                <span class = text>비밀번호를 잊으셨나요?</span>
                <a class="link" th:href="@{/user/resetPassword}">비밀번호 찾기</a>
            </li>
        </ul>
    </form>
</section>
</body>
</html>