<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>내 정보</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/styles/common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/styles/myPage.css}">
    <script th:src="@{/js/user/button2.js}" defer type="text/javascript"></script>
    <script defer type="text/javascript" th:src="@{/js/user/common.js}"></script>
    <script defer type="text/javascript" th:src="@{/js/user/myPage.js}"></script>
</head>
<body>
<section id="myPageSection" layout:fragment="content">
    <h1 class="title">내 정보</h1>
    <form novalidate class="dialog" id="infoForm">
        <label class="_obj-label label" rel="myEmailLabel">
            <span class="__text">내 이메일</span>
            <input disabled class="myEmail" value="gyust941326@gmail.com" name="email">
        </label>
        <label class="_obj-label label" rel="myNameLabel">
            <span class="__text">내 이름</span>
            <input class="myName" th:value="${user.getName()}" name="name">
        </label>
        <label class="_obj-label label" rel="myNicknameLabel">
            <span class="__text">내 닉네임</span>
            <input class="myNickname" th:value ="${user.getNickname()}" name="nickname">
        </label>
        <label class="_obj-label label" rel="myPasswordLabel">
            <span class="__text">내 비밀번호</span>
            <input class="myPassword" value="*******" name="password">
            <a class="link" th:href="@{/user/resetPassword}">비밀번호 수정</a>
        </label>
        <label class="_obj-label label" rel="myTelLabel">
            <span class="__text">내 연락처</span>
            <input class="myTel" th:value ="${user.getTel()}" name="tel">
        </label>
        <label class="_obj-label label" rel="myAddressLabel">
            <span class="__text">내 주소</span>
            <input class="myAddress" th:value ="${user.getAddress()}" name="address">
        </label>
        <button class="_obj-button" rel="modifyButton" type="button">
            <i class="__icon"></i>
            <span class="__text">수정하기</span>
        </button>
    </form>
</section>
</body>
</html>