<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>비밀번호 재설정</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/styles/common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/styles/resetPassword.css}">
    <script th:src="@{/js/user/button.js}" defer type="text/javascript"></script>
    <script defer type="text/javascript" th:src="@{/js/user/common.js}"></script>
    <script th:if="${result != null && result.equals('FAILURE')}">
        alert('입력하신 정보와 일치하는 회원을 찾을 수 없습니다.');
        history.back();
    </script>
    <script th:if="${result != null && result.equals('SUCCESS')}">
        alert('입력하신 정보와 일치하는 회원의 비밀번호를 성공적으로 재설정하였습니다. 확인을 클릭하면 로그인 페이지로 이동합니다.');
        location.href = './login';
    </script>
</head>
<body th:if="${result == null}">
<form method="post" novalidate class="dialog" action="/resetPassword" id="resetPasswordForm" th:with="userRegex=${T(com.scd.dcs.regexes.UserRegex)}">
    <label class="_obj-label label">
        <span class="__text">이메일</span>
        <input required autocomplete="email" maxlength="50" minlength="5" class="_obj-input __field input" name="email" placeholder="이메일 (user@sample.com)" spellcheck="false" type="email" th:attrappend="data-regex=${userRegex.email.expression}">
    </label>
    <label class="_obj-label label">
        <span class="__text">닉네임</span>
        <input required autocomplete="off" maxlength="10" minlength="2" class="_obj-input __field input" name="nickname" placeholder="닉네임(숫자, 영어 대소문자, 완성 환글 2자 이상 10자 이하)" type="text" th:attrappend="data-regex=${userRegex._nickname.expression}">
    </label>
    <label class="_obj-label label">
        <span class="__text">새로운 비밀번호</span>
        <input required autocomplete="off" maxlength="10" minlength="2" class="_obj-input __field input" name="newPassword" type="password" th:attrappend="data-regex=${userRegex.password.expression}">
    </label>
    <button class="_obj-button" type="submit">
        <i class="__icon"></i>
        <span class="__text">비밀번호 재설정하기</span>
    </button>
    <button class="_obj-button" rel="backButton" type="button">
        <i class="__icon"></i>
        <span class="__text">뒤로가기</span>
    </button>
</form>
</body>
</html>