#mainSection {
  margin: 0 auto;
  padding-top: 2rem;
  max-width: 80%;
  width: 70%;

  > .table {

    > tbody {
      > tr {
        > .table-content {
          > div {
            min-height: 400px;
          }
        }
      }
    }

    > tfoot {
      > tr {
        > td {
          > div {
            display: flex;
            flex-direction: row;
            gap: 0.4rem;

            > .auth {
              > div {
                > a {
                  display: inline-block;
                }
              }
            }

          }
        }
      }
    }
  }
}

#commentForm {
  > label {
    > .form-control {
      width: 25rem;
    }
  }
}

#commentContainer {
  padding-top: 2rem;
  > div {
    > .comment-head {
      display: flex;
      flex-direction: row;
      margin-bottom: 0.625rem;

      > .spring {
        flex: 1;
      }

      > span {
        &:first-of-type {
          margin-right: 1.5rem;
        }
      }
    }
    > .comment-main {
      display: flex;
      flex-direction: row;
      margin-bottom: 0.625rem;

      > .comment-content {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        flex: 1;
      }
    }

  }
}
