@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
body {
  font-family: "Pretendard Variable", "Pretendard", -apple-system, "BlinkMacSystemFont", "system-ui", "Roboto", "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

#demo {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}
#demo .board-container {
  width: 90%;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

th, td {
  width: 25%; /* 각 셀의 너비를 25%로 설정 (4개의 열이 있다면 각 열은 동일한 너비를 가짐) */
  border-bottom: 1px solid #dfdfdf; /* 테두리 설정 */
  word-wrap: break-word; /* 긴 텍스트 줄 바꿈 설정 */
  vertical-align: middle; /* 원하는 정렬 방식으로 설정 (middle, top, bottom 등) */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#table {
  opacity: 0;
  animation: fadeIn 0.5s ease forwards; /* 페이드 인 애니메이션 적용 */
}

.table {
  position: relative;
  right: 1.5rem;
  text-align: center;
  width: 90%;
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
}
.table thead {
  font-size: 1.375rem;
}
.table thead > tr {
  height: 2.75rem;
}
.table thead > tr > .fix {
  border-bottom: 0.1235rem solid #797979 !important;
  position: sticky;
  top: 84px;
  z-index: 1;
}
.table thead > tr > th {
  border: none;
}
.table > tbody {
  font-size: 1.15rem;
}
.table > tbody > tr {
  height: 4.5rem;
}
.table > tbody > tr > td {
  transition: font-size 0.1s ease-in-out;
}
.table > tbody > tr:hover > td {
  border-bottom: 1px solid rgba(170, 170, 170, 0.6549019608);
}
.table > tbody > tr:hover > td:first-child {
  font-size: 1.4rem;
}

.spacer {
  height: 2.5rem !important; /* 간격 설정 */
}

.label {
  margin-right: 1rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.325rem;
  justify-content: center;
}

.gap {
  margin-right: 1rem;
}

button.blue {
  width: 7rem;
  height: 2.3rem;
  color: white;
  background: #4C8FFB;
  border: 1px #3079ED solid;
  border-radius: 0.3rem;
  box-shadow: inset 0 1px 0 #80B0FB;
}

button.blue:hover {
  border: 1px #2F5BB7 solid;
  box-shadow: 0 1px 1px #EAEAEA, inset 0 1px 0 #5A94F1;
  background: #3F83F1;
}

button.blue:active {
  box-shadow: inset 0 2px 5px #2370FE;
}

.container.mt-5 {
  position: relative;
  top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 2개의 컬럼을 동일한 비율로 설정 */
  gap: 20px; /* 그리드 간격 설정 */
}

.selectedDate {
  position: relative;
  top: 1rem;
  text-align: center;
}

.form-group {
  position: relative;
  top: 6rem;
  left: 5rem;
}

.mt-5 {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  padding-top: 1rem;
  margin-top: -0.5rem !important;
}

/* datepicker z-index 설정 */
.datepicker {
  z-index: 3;
  background-color: #fff; /* 배경색을 하얀색으로 설정 */
  color: #000; /* 글자색을 검은색으로 설정 */
  border-color: #ccc; /* 테두리 색상 설정 */
}

.text {
  position: relative;
  left: 0.25rem;
  margin-bottom: 0.5rem;
}

.datepicker-dropdown {
  margin-top: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 드롭다운의 그림자 설정 */
  width: auto !important; /* 드롭다운 너비 자동으로 설정 */
  max-width: 200px; /* 최대 너비 설정 */
}

.a11y-hidden {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0); /* IE 6,7 */
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}
.a11y-hidden.focusable:focus {
  overflow: visible;
  position: static;
  clip: auto;
  width: auto;
  height: auto;
  margin: 0;
}

caption.a11y-hidden {
  position: static;
}

/*# sourceMappingURL=salary.css.map */
