

// css 참조한거라 대부분 !important 줘야함

body {
  background-color: #f0f0f0 !important;
  color: #212121;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  height: 100vh;
}

.form-group {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* 날짜 보드 스타일 */
.datepicker {
  width: 250px; /* 날짜 보드 너비 설정 */
  padding: 10px; /* 내부 여백 추가 */
  border: 1px solid #ccc; /* 테두리 추가 */
  border-radius: 4px; /* 모서리 둥글게 */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* 그림자 추가 */

}

/* 날짜 셀 스타일 */
.datepicker table tr td {
  padding: 8px; /* 셀 내부 여백 추가 */
  text-align: center; /* 텍스트 가운데 정렬 */
}

/* 오늘 날짜 스타일 */
.datepicker table tr td.today {
  background-color: #f0f0f0; /* 배경색 변경 */
}

/* 선택된 날짜 스타일 */
.datepicker table tr td.active {
  background-color: #007bff; /* 배경색 변경 */
  color: #fff; /* 텍스트 색상 변경 */
}

/* 이전/다음 버튼 스타일 */
.datepicker-prev, .datepicker-next {
  font-size: 16px; /* 버튼 아이콘 크기 조정 */
  color: #007bff; /* 아이콘 색상 변경 */
  cursor: pointer; /* 커서 타입 변경 */
}

/* 이전/다음 버튼 호버 시 스타일 */
.datepicker-prev:hover, .datepicker-next:hover {
  color: #0056b3; /* 호버 시 아이콘 색상 변경 */
}

.day {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50% !important;
}



