@charset "UTF-8";
@media (max-width: 1500px) {
  #asideFrame {
    max-width: 13rem !important;
  }
  #asideFrame > .aside {
    max-width: 13rem !important;
  }
  .demo {
    width: 60rem;
    position: relative;
    right: 8rem !important;
  }
}
#mainSection {
  margin: 0 auto;
  width: 80%;
  padding-top: 1rem;
}

.demo {
  position: relative;
  right: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.demo .progress-container {
  display: flex;
  flex-direction: row;
  gap: 2%;
}
.demo .progress-container > .progress-box:not(:last-child) {
  width: 36%;
  height: 7.5rem;
  padding: 1rem 1.3rem;
  background-color: rgb(33, 60, 91);
  border-radius: 1rem;
  display: inline-table;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  box-shadow: 0 0 0.2rem 0.0625rem rgb(33, 60, 91);
}
.demo .progress-container > .progress-box:not(:last-child) > .text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.demo .progress-container > .progress-box:not(:last-child) > .text-container > .text-box {
  justify-content: start;
  align-items: center;
  flex-direction: column;
}
.demo .progress-container > .progress-box:not(:last-child) > .text-container > .text-box > .text-title {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.3rem;
  letter-spacing: 0.1rem;
}
.demo .progress-container > .progress-box:not(:last-child) > .text-container > .text-box > .text-workload {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
}
.demo .progress-container > .progress-box:not(:last-child) > .text-container > .spring {
  flex-grow: 1;
}
.demo .progress-container > .progress-box:not(:last-child) > .text-container > .text-percent {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 500;
}
.demo .progress-container > .progress-box:not(:last-child) > .text-container > .text-percentOfYear {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 500;
}
.demo .progress-container > .progress-box:not(:last-child) > .progress-bar {
  position: relative;
  width: 100%;
  height: 30px;
  border-radius: 999px;
  background-color: #dedede;
  font-weight: 600;
  font-size: 0.8rem;
}
.demo .progress-container > .progress-box:not(:last-child) > .progress-bar .progress {
  width: 0%;
  height: 30px;
  padding: 0;
  text-align: center;
  border-radius: 999px;
  background-color: rgb(110, 180, 229);
  transition: width 1s ease; /* 넓이 변경을 부드럽게 애니메이션화합니다. */
  color: #111;
}
.demo .progress-container > .progress-box:last-child {
  width: 24%;
  height: 8.925rem;
  padding: 1rem 1.3rem;
  background-color: rgb(33, 60, 91);
  border-radius: 1rem;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: row;
  gap: 4rem;
  box-shadow: 0 0 0.2rem 0.0625rem rgb(33, 60, 91);
}
.demo .progress-container > .progress-box:last-child > .text-title {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.3rem;
  letter-spacing: 0.1rem;
}
.demo .progress-container > .progress-box:last-child > .text-workload {
  position: relative;
  top: 3.7rem;
  color: #dedede;
  font-size: 1.8rem;
  font-weight: 400;
}

.best-worker {
  margin: 0 auto;
  margin-top: 5rem;
  border-radius: 3px;
  width: 300px;
  height: 220px;
  background-color: rgb(33, 60, 91);
  color: #ffffff;
}
.best-worker > .title {
  box-sizing: border-box;
  border-bottom: 1px solid #9e9e9e;
  height: 60px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 2rem;
}
.best-worker > .worker-container {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 160px;
}
.best-worker > .worker-container > .worker-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 400;
  font-size: 2rem;
}

/*# sourceMappingURL=main.css.map */
