<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
</head>
<body>
<section layout:fragment="content">
    <h1>로그인 페이지입니다.</h1>
    <form action="/login" method="post" id="loginForm">
        <label>
            <span>이메일</span>
            <input type="text" name="username">
        </label>
        <label>
            <span>password</span>
            <input type="password" name="password">
        </label>
        <input type="submit">
    </form>
</section>


</body>
</html>