<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<section id="mainSection" layout:fragment="content">
    <section>
        <h2>공지사항</h2>
        <div>
            우리의 목표는 만 개의 이미지를 정제하는 것입니다.
        </div>
    </section>
    <section>

    </section>
    <section>

    </section>
</section>
</body>
</html>